[submodule "Resources/Protolus"]
	path = Resources/Protolus
	url = git@github.com:Protolus/Protolus.git
[submodule "Resources/visualization"]
	path = Resources/visualization
	url = git@github.com:khrome/Visualization.js.git
[submodule "Resources/argolus"]
	path = Resources/argolus
	url = git@github.com:khrome/Argolus.js.git
